<div id="layout" class="layout" [ngStyle]="{height: windowHeightWithoutHeader + 'px'}">
    <div id="top-view" class="layout">
        <ng-container #TopViewComponent [ngTemplateOutlet]="topViewComponent"></ng-container>
    </div>
    <perfect-scrollbar [config]="{}" disabled="false"
                       [ngStyle]="{height: mainContainerHeight + 'px', width: mainContainerWidth + 'px'}">
        <div id="container">
            <ejs-splitter #horizontal [height]="mainContainerHeight + 'px'" [width]="splitterWidth + 'px'">
                <ng-container *ngFor="let panel of layoutService.panels$ | async">
                    <ng-container *ngIf="panel.type === constant.TYPE_IN_PAGE">
                        <ng-container *ngIf="panel.isPrimary || panel.isActive">
                            <e-pane [id]="panel.id" [min]="panel.minWidth ? panel.minWidth + 'px': ''">
                                <app-layout-panel [identifier]="panel.id"
                                                  [viewDimensions]="rootService.viewDimensions$ | async">
                                </app-layout-panel>
                            </e-pane>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ejs-splitter>
        </div>
    </perfect-scrollbar>
    <div id="pop-up-panels">
        <ng-container *ngFor="let panel of layoutService.panels$ | async">
            <ng-container *ngIf="panel.type === constant.TYPE_POPUP">
                <app-layout-panel [identifier]="panel.id"></app-layout-panel>
            </ng-container>
        </ng-container>
    </div>
</div>
