<div id="app-header" class="col-sm-12 header header-height app-header-color">
    <div class="header-container p-0 m-0 header-height">
        <div id="sidebar-button" class="header-height sidebar-button">
            <button ejs-button id="toggle" #SidebarButton cssClass="e-flat" iconCss="e-icons burg-icon" isToggle="true"
                    (click)="sidebarButtonClick()"></button>
        </div>
        <div id="header-logo" class="header-logo-container"><img src="assets/images/comviva_logo.png" class=""/></div>
        <div id="header-menu" class="header-height header-menu">
            <app-menu-builder></app-menu-builder>
        </div>
    </div>
</div>
<ejs-sidebar id="default-sidebar" #sidebar [type]="'Push'" [target]="target" (created)="onCreated($event)" style="visibility: hidden">
    <div class="center-align">
        <button ejs-button id="close" (click)="sidebarCloseButtonClick()" class="e-btn close-btn">X</button>
    </div>
    <div class="title"> Sidebar content</div>
    <div class="sub-title">
        Click the button to close the Sidebar.
    </div>
</ejs-sidebar>
