<ng-container *ngIf="type===constants.TYPE_IN_PAGE">
    <div *ngIf="isCustomize">
        <ng-container #InPageCustomize></ng-container>
    </div>
    <div *ngIf="!isCustomize">
        <ng-container #InPage></ng-container>
    </div>
</ng-container>
<ng-container *ngIf="type===constants.TYPE_POPUP">
    <div *ngIf="isCustomize">
        <ng-container #PopUpCustomize></ng-container>
    </div>
    <div *ngIf="!isCustomize">
        <ng-container #PopUp></ng-container>
    </div>
</ng-container>
