.menu-container {
  display: flex;
  width: 100px;
  font-family: "NunitoSans";
}

.menu-button {
  height: 50px;
  background: transparent;
  font-weight: bold;
  padding: 0 12px 0 12px;
  border: 0;
  border-bottom: transparent 2px solid;
  color: #394054;
  font-size: 16px;
  white-space: nowrap;
}

.menu-button-hover {
  height: 50px;
  background: transparent;
  font-weight: bold;
  padding: 0 12px 0 12px;
  font-size: 16px;
  border: 0;
  border-bottom: crimson 2px solid;
  color: crimson;
  white-space: nowrap;
}

.sub-links-container {
  background: #394054;
  white-space: nowrap;
  border-radius: 5px;
  font-family: inherit;
}

.link-secondary-label {
  font-size: 11px;
  color: #ec97a8;
  position: absolute;
  font-weight: bold;
  top: 6px
}

.sub-link {
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: inherit;
  border: 0;
  padding: 5px 12px 5px 12px;
  text-align: center;
  background: transparent;
  display: block;
}
