<div class="menu-container">
    <ng-container *ngFor="let primaryItem of menu.items">
        <div class="menu-item" (mouseover)="primaryItem.onHover = true" (mouseleave)="primaryItem.onHover = false">
            <span *ngIf="menu.activePrimaryItemId === primaryItem.id" class="link-secondary-label">{{primaryItem.label}}</span>
            <button [ngClass]="primaryItem.onHover || menu.activePrimaryItemId === primaryItem.id ?
             'menu-button-hover' : 'menu-button'">{{!!menu.activeSecondaryItemId && menu.activePrimaryItemId === primaryItem.id ?
                menu.findSelectedMenuLabel(menu.activePrimaryItemId, menu.activeSecondaryItemId) : primaryItem.label}}</button>
            <div class="sub-links-container" *ngIf="primaryItem.onHover">
                <ng-container *ngFor="let secondaryItem of primaryItem.secondaryItems">
                    <button  class="sub-link" (click)="menu.activateItem(primaryItem.id, secondaryItem.id)">{{secondaryItem.label}}</button>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
